
.max-heigth-300px{
  max-height: 300px;
}
::ng-deep agm-map
{
  width: 384px !important;
  height: 416px !important;
  margin: auto;
}

.border-bottom-4-chrome{
  border-bottom: lightgray solid 1px;
}
.map-container-inner
{
  width: 100px;
  height: 100px;
}


.margin-64 {
  margin: 32px 64px 64px 64px;
}
.title-name {
  margin-left: 64px;
  margin-bottom: 26px;
}
.button-edit {
  margin-bottom: 32px;
  margin-right: 32px;
}
.margin-right-32 {
  margin-right: 32px;
}
.margin-right-20 {
  margin-right: 20px;
}

.heading-1 {
  margin-bottom: 36px;
}
.heading-2 {
  margin-bottom: 20px;
  border-left: 8px solid var(--wine);
  padding-left: 8px;
}
.margin-right-36 {
  margin-right: 36px;
}
.main-column {
  flex-grow: 1;
  flex-basis: 0;
}
.left-bar {
  min-width: 256px;
}

.main-menu {
  margin-right: 32px;
  margin-bottom: 32px;

}
.wine-in-list {
  border-bottom: solid 2px var(--nickel);
  min-height: 48px;
  margin-bottom: 8px;
}

.bg-gradient {
  height: 128px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--black));
}
.bg-image{
  height: 416px;
  margin-right: 32px;
}

.margin-x-64 {
  margin-left: 64px;
  margin-right: 64px;
}
