
<!--<div *ngIf="wineData.basic_designed.language == langService.getLanguage() && wineData.commoninfo.name_national" class="text-left">-->
  <!--{{wineData.commoninfo.name_national}}-->
<!--</div>-->
<!--<div *ngIf="wineData.basic_designed.language != langService.getLanguage() || !wineData.commoninfo.name_national" class="text-left">-->
  <!--{{wineData.commoninfo.name_international}}-->
<!--</div>-->


<!--<app-text [page]="page" [place]="id" [default]="getDefault()"></app-text>-->
{{getTextValue()}}
