
<!--<agm-map *ngIf="forcedShown || (markers && markers.length)"-->
  <!--[latitude]="mapProperties.lat"-->
  <!--[longitude]="mapProperties.lng"-->
  <!--[zoom]="mapProperties.zoom"-->
  <!--(mapClick)="placeMarker($event)"-->
<!--&gt;-->
  <!--<agm-marker *ngFor="let m of markers; let i = index"-->
    <!--[latitude]="m.lat"-->
    <!--[longitude]="m.lng"-->
    <!--[opacity]="1"-->
    <!--[markerDraggable]="m.draggable"-->
    <!--(dragEnd)="markerDragEnd($event)"-->
  <!--&gt;-->
  <!--</agm-marker>-->
<!--</agm-map>-->
