<!--<div class="nav">-->
  <!--<div class="nav-item">-->
    <!--<button class="btn" [ngClass]="getButtonColor(LOGIN)" (click)="chose(LOGIN)">-->
      <!--&lt;!&ndash;Login&ndash;&gt;-->
      <!--<app-text page="unAuth" place="login"></app-text>-->
    <!--</button>-->
  <!--</div>-->
  <!--<div class="nav-item">-->
    <!--<button class="btn"  [ngClass]="getButtonColor(REGISTRATION)" (click)="chose(REGISTRATION)">-->
      <!--&lt;!&ndash;Registration&ndash;&gt;-->
      <!--<app-text page="unAuth" place="registration"></app-text>-->
    <!--</button>-->
  <!--</div>-->
<!--</div>-->


<!--<app-registration  [hidden]="option !== REGISTRATION"></app-registration>-->
<app-login  [hidden]="option !== LOGIN"></app-login>
