<form [formGroup]="form">
  <div class="d-flex flex-column">
    <div class="d-flex align-items-start w-100" [ngClass]="isBigScreen() ? '' : 'flex-column'">
      <div class="d-flex flex-column align-items-start"
           [ngClass]="isBigScreen() ? 'flex-even' : 'margin-bottom-32 w-100'">

        <div  class="heading-2 left-bold-border">
          <app-text page="winery_add" default="Winery Information"></app-text>
        </div>



        <div class="field align-self-stretch d-flex flex-column">
          <app-text page="wines_common_info" default="Language" class="field-hint"></app-text>
          <app-select-bonvino formControlName_="language" [form]="form" #_language>
            <div select-title>
              <div *ngFor="let l of languageArr">
                <app-text page="language" default="{{l.name}}" *ngIf="l.value == language.value"></app-text>
              </div>
            </div>
            <div options class="d-flex flex-column align-items-start select-list-options">
              <button class="btn btn-option" *ngFor="let l of languageArr" (click)="_language.choose(l.value)">
                <app-text page="language" default="{{l.name}}"></app-text>
              </button>
            </div>
          </app-select-bonvino>
        </div>


        <div class="field align-self-stretch d-flex flex-column"  *ngIf="routeData.download">
          <app-text page="winery_add" default="Winery name" class="field-hint"></app-text>
          <input type="text" class="field-input align-self-stretch" formControlName="name_national">
        </div>

        <div class="d-flex align-items-end w-100" *ngIf="!routeData.download">

          <div class="mandatory"></div>
          <div class="field required align-self-stretch d-flex flex-column w-100">
            <app-select-search-bonvino formControlName_="name_national" [form]="form" #_winery>
              <div select-title>
                <app-text page="winery_add" default="Winery name" class="field-hint"></app-text>
              </div>
              <div description class="d-flex flex-column align-items-start select-list-options-full lines-1">
                <app-text page="wine_list" place="message_exist" default="If your winery listed below you may claim it as yours instead"></app-text>
              </div>
              <div options class="d-flex flex-column align-items-start select-list-options-full hyperlink">


                <a *ngFor="let winery of wineryList | paginate: { id: 'pagination-winery', itemsPerPage: 10, currentPage: wineryPage, totalItems: wineryTotal}"
                  [routerLink]="getWineryLink(winery)">
                  <span>{{getWineryName(winery)}}</span>
                </a>
                <pagination-controls class="text-center hyperlink" [directionLinks]="false" maxSize="5" [autoHide]="true" id="pagination-winery" (pageChange)="setWineryPage($event)"></pagination-controls>

              </div>
            </app-select-search-bonvino>
          </div>
        </div>

        <div class="d-flex align-items-end w-100">

          <div class="mandatory"></div>
          <div class="field required align-self-stretch d-flex flex-column w-100" [ngClass]="isInvalid(name_international) ? 'error' : ''">
            <div class="d-flex align-items-center flex-row">

              <app-icon-bonvino svgIcon="icn-error-2" class="icn-error-2 margin-right-4 error-only"></app-icon-bonvino>
              <app-text page="winery_add" default="Winery name in English" class="field-hint"></app-text>

            </div>
            <input type="text" class="field-input align-self-stretch" formControlName="name_international">
          </div>
        </div>


        <div formArrayName="alterNames" class="w-100">

          <div class="d-flex flex-column" *ngFor="let pp of alterNames.controls; let i = index">
            <div formGroupName="{{i}}">

              <div class="d-flex flex-fill justify-content-between">

                <div class="field align-self-stretch d-flex flex-column margin-right-20 w-100">



                  <!--<div class="field align-self-stretch d-flex flex-column">-->
                  <app-text page="winery_add" default="Name language" class="field-hint"></app-text>
                  <app-select-bonvino formControlName_="language" [form]="alterNames.at(i)" #_language>
                    <div select-title>
                      <app-text *ngFor="let l of languageArr" page="language" [default]="l.name"
                                [hidden]="l.value != alterNames.at(i).get('language').value"></app-text>
                    </div>
                    <div options class="d-flex flex-column align-items-start select-list-options">
                      <button *ngFor="let l of languageArr" class="btn btn-option" (click)="_language.choose(l.value)">
                        <app-text page="language" [default]="l.name"></app-text>
                      </button>
                    </div>
                  </app-select-bonvino>
                  <div *ngIf="langService.editable">
                    <app-text page="language" *ngFor="let language of languageArr" [default]="language.name"></app-text>
                  </div>
                  <!--</div>-->

                </div>
                <div>
                  <button class="btn m-0 p-0" (click)="removeAlterNames(i)">
                    <mat-icon svgIcon="icn-close-bonvine" class="icon-close"></mat-icon>
                  </button>
                </div>
              </div>
              <div class="d-flex flex-fill justify-content-between margin-bottom-8">

                <div class="field align-self-stretch d-flex flex-column w-100">
                  <app-text page="wines" page="wines_common_info" default="Name" class="field-hint"></app-text>
                  <input type="text" class="field-input align-self-stretch" formControlName="name">
                </div>


              </div>
            </div>
          </div>


        </div>
        <button class="btn m-0 p-0 w-100" (click)="addAlterNames(null)">
          <app-icon-bonvino svgIcon="icn-add" class="icn-add" link="fill"></app-icon-bonvino>
        </button>


        <div class="field align-self-stretch d-flex flex-column">
          <app-text page="winery_add" default="Wine producer" class="field-hint"></app-text>
          <app-select-bonvino formControlName_="wine_producer" [form]="form" #_wine_producer>
            <div select-title>
              <app-text *ngFor="let wp of wineProducerArr" page="winery_add" [default]="wp.value" [hidden]="wp.value != wine_producer.value"></app-text>
            </div>
            <div options class="d-flex flex-column align-items-start select-list-options">
              <button class="btn btn-option" (click)="_wine_producer.choose('')">
                <app-text page="winery_add" default="Clear input"></app-text>
              </button>
              <button *ngFor="let wp of wineProducerArr" class="btn btn-option" (click)="_wine_producer.choose(wp.value)">
                <app-text page="winery_add" [default]="wp.value"></app-text>
              </button>
            </div>
          </app-select-bonvino>
        </div>



        <div class="field align-self-stretch d-flex flex-column">
          <app-checkbox-bonvino formControlName_="noncommercial" [form]="form" #_noncommercial>
            <app-text page="winery_add" default="Non comercial producer" class="lines-1" (click)="_noncommercial.check()"></app-text>
          </app-checkbox-bonvino>
        </div>


        <div class="field align-self-stretch d-flex flex-column">
          <app-text page="winery_add" default="When was it established" class="field-hint"></app-text>
          <input type="text" class="field-input align-self-stretch" formControlName="establish_year">
        </div>







        <div class="field align-self-stretch d-flex flex-column">
          <app-text page="winery_add" default="Owner" class="field-hint"></app-text>
          <input type="text" class="field-input align-self-stretch" formControlName="owner">
        </div>



        <div  class="heading-2 left-bold-border" *ngIf="accountService.isBusiness()">
          <app-text page="wine_list" default="Select redactor"></app-text>
        </div>

        <div class="field align-self-stretch d-flex flex-column" *ngIf="accountService.isBusiness()">
          <app-checkbox-bonvino formControlName_="yours" [form]="form" #_yours>
            <app-text page="winery_add" default="Claim yours"  class="lines-1" (click)="_yours.check()"></app-text>
          </app-checkbox-bonvino>
        </div>

        <div *ngIf="(cookies | async).sequrity == 4 && !yours.value || langService.editable">
          <button class="btn btn-type-1 text-uppercase field-content" (click)="openUserSelect()">
            <app-text page="winery_add" default="Select user"></app-text>
          </button>
        </div>
        <div *ngIf="(cookies | async).sequrity == 4 && !yours.value || langService.editable">

          <app-person-one-row [userIdSubject]="userId.valueChanges"></app-person-one-row>
        </div>




        <div  class="heading-2 left-bold-border">
          <app-text page="winery_add" default="Cover image"></app-text>
        </div>

        <div class="d-flex flex-wrap">
          <div *ngIf="routeData.download && !fileToUpload && imageLink">
            <img class="cover-image" [src]="getImage()" onError="this.src='../../../assets/icons/placeholder-wine.svg'">
          </div>
          <div *ngIf="fileToUpload">
            <img  class="cover-image" [src]="url">
          </div>
          <div class="d-flex flex-column">
            <div class="d-flex">
              <div>
                <input hidden="true" id="image" type='file' (change)="onSelectFile($event)" formControlName="image">

                <label class="btn btn-type-1 text-uppercase field-content" [for]="langService.editable ? null : 'image'">
                  <app-text page="wine_list" default="Select"></app-text>
                </label>
              </div>
              <div *ngIf="fileToUpload || imageLink">
                <button class="btn btn-type-1 text-uppercase field-content"  (click)="deleteImage()">
                  <app-text page="winery_add" place="delete" default="Delete image"></app-text>
                </button>
              </div>
            </div>
            <div *ngIf="fileToUpload" class="lines-1 place-of-origin-text margin-left-16">
              <span>{{fileToUpload.name}}</span>
            </div>
          </div>
        </div>


        <div  class="heading-2 left-bold-border">
          <app-text page="wine_list" default="Logo"></app-text>
        </div>

        <div class="d-flex flex-wrap">
          <div *ngIf="routeData.download && !fileToUploadEmblem && imageLinkEmblem">
            <img class="cover-image" [src]="getImageEmblem()" onError="this.src='../../../assets/icons/placeholder-wine.svg'">
          </div>
          <div *ngIf="fileToUploadEmblem">
            <img  class="cover-image" [src]="urlEmblem">
          </div>
          <div class="d-flex flex-column">
            <div class="d-flex">
              <div>
                <label class="btn btn-type-1 text-uppercase field-content" [for]="langService.editable ? null : 'emblem'">
                  <app-text page="wine_list" default="Select"></app-text>
                </label>


                <input hidden="true" id="emblem" type='file' (change)="onSelectFileEmblem($event)" formControlName="emblem">
              </div>
              <div *ngIf="fileToUploadEmblem || imageLinkEmblem">

                <button class="btn btn-type-1 text-uppercase field-content" (click)="deleteImageEmblem()">
                  <app-text page="winery_add" place="delete" default="Delete image"></app-text>
                </button>
              </div>
            </div>
            <div *ngIf="fileToUploadEmblem" class="lines-1 place-of-origin-text margin-left-16">
              <span>{{fileToUploadEmblem.name}}</span>
            </div>
          </div>
        </div>


      </div>
      <div class="d-flex flex-column align-items-start"
           [ngClass]="isBigScreen() ? 'flex-even margin-left-36' : 'margin-bottom-32 w-100'">


        <div  class="heading-2 left-bold-border">
          <app-text page="winery_add" default="Winemaking team"></app-text>
        </div>


        <div class="field align-self-stretch d-flex flex-column">
          <app-text page="winery_add" default="Name of head winemaker" class="field-hint"></app-text>
          <input type="text" class="field-input align-self-stretch" formControlName="winemaker_national">
        </div>



        <div class="field align-self-stretch d-flex flex-column">
          <app-text page="winery_add" default="Name of head winemaker (in English)" class="field-hint"></app-text>
          <input type="text" class="field-input align-self-stretch" formControlName="winemaker_international">
        </div>



        <div  class="heading-2 left-bold-border">
          <app-text page="winery_add" default="Performance"></app-text>
        </div>



        <div class="field align-self-stretch d-flex flex-column">
          <!--<app-text page="wine_list" default="Type" class="field-hint"></app-text>-->
          <app-select-bonvino formControlName_="performance" [form]="form" #_performance>
            <div select-title>
              <app-text page="winery_add" place="select" default="Select" *ngIf="performance.value == '0'"></app-text>

              <app-text *ngFor="let p of performanceArr" page="winery_add" [place]="p.place" [default]="p.defaultValue" [hidden]="performance.value != p.value"></app-text>

            </div>
            <div options class="d-flex flex-column align-items-start select-list-options">
              <button class="btn btn-option" (click)="_performance.choose('0')">
                <app-text page="winery_add" place="select" default="Select"></app-text>
              </button>
              <button *ngFor="let p of performanceArr" class="btn btn-option" (click)="_performance.choose(p.value)">
                <app-text page="winery_add" [place]="p.place" [default]="p.defaultValue"></app-text>
              </button>
            </div>
          </app-select-bonvino>
        </div>
        <div class="field align-self-stretch d-flex flex-column" *ngIf="langService.editable">
          <app-text page="winery_add" place="select" default="Select"></app-text>
          <app-text page="winery_add" place="till_2000" default="till 2000"></app-text>
          <app-text page="winery_add" place="till_5000" default="2000-5000"></app-text>
          <app-text page="winery_add" place="till_8000" default="5000-8000"></app-text>
          <app-text page="winery_add" place="till_12000" default="8000-12000"></app-text>
          <app-text page="winery_add" place="till_20000" default="12000-20000"></app-text>
          <app-text page="winery_add" place="till_30000" default="20000-30000"></app-text>
          <app-text page="winery_add" place="till_60000" default="30000-60000"></app-text>
          <app-text page="winery_add" place="till_100000" default="60000-100000"></app-text>
          <app-text page="winery_add" place="till_160000" default="100000-160000"></app-text>
          <app-text page="winery_add" place="till_220000" default="160000-220000"></app-text>
          <app-text page="winery_add" place="till_300000" default="220000-300000"></app-text>
          <app-text page="winery_add" place="till_450000" default="300000-450000"></app-text>
          <app-text page="winery_add" place="till_600000" default="450000-600000"></app-text>
          <app-text page="winery_add" place="till_800000" default="600000-800000"></app-text>
          <app-text page="winery_add" place="till_1200000" default="800000-1200000"></app-text>
          <app-text page="winery_add" place="till_1500000" default="1200000-1500000"></app-text>
          <app-text page="winery_add" place="till_2000000" default="1500000-2000000"></app-text>
          <app-text page="winery_add" place="till_3000000" default="2000000-3000000"></app-text>
          <app-text page="winery_add" place="till_5000000" default="3000000-5000000"></app-text>
          <app-text page="winery_add" place="5000000_more" default="5000000 and more"></app-text>
        </div>

        <div  class="heading-2 left-bold-border">
          <app-text page="winery_add" place="sertifications" default="Certifications"></app-text>
        </div>



        <div class="field align-self-stretch d-flex flex-column">
          <app-checkbox-bonvino formControlName_="isKashrut" [form]="form" #_isKashrut>
            <app-text page="winery_add" default="Kashrut" (click)="_isKashrut.check()" class="lines-1"></app-text>
          </app-checkbox-bonvino>
        </div>

        <div *ngIf="isKashrut.value" class="d-flex flex-column w-100">
          <div class="field align-self-stretch d-flex flex-column">
            <app-select-search-bonvino formControlName_="kashrutsSearch" [form]="form" #_kashrutsSearch>
              <div select-title>
                <app-text page="winery_add" default="Select kashrut" class="field-hint"></app-text>
              </div>
              <div options class="d-flex flex-column align-items-start select-list-options-full">
                <button *ngFor="let kashrut of kashrutList | paginate: { id: 'pagination-kashrut', itemsPerPage: 10, currentPage: kashrutPage, totalItems: kashrutTotal}"
                        class="btn btn-option"
                        (click)="selectKashrut(kashrut); _kashrutsSearch.close();">
                  <span>{{getKashrutName(kashrut)}}</span>
                </button>
                <pagination-controls class="text-center hyperlink" [directionLinks]="false" maxSize="5" [autoHide]="true" id="pagination-kashrut" (pageChange)="setKashrutsPage($event)"></pagination-controls>

              </div>
            </app-select-search-bonvino>
          </div>


          <div class="lines-1 place-of-origin-text d-flex justify-content-between" *ngFor="let kashrut of wineryKashrutList; let i = index">
            <div>
              <span>{{getKashrutName(kashrut)}}</span>
            </div>
            <div>
              <button class="btn m-0 p-0" (click)="removeKashrutFromWinery(i)">
                <mat-icon svgIcon="icn-close-bonvine" class="icon-close"></mat-icon>
              </button>
            </div>
          </div>
        </div>




        <div class="field align-self-stretch d-flex flex-column">
          <app-checkbox-bonvino formControlName_="isQuality" [form]="form" #_isQuality>
            <app-text page="winery_add" default="Geographical indications" (click)="_isQuality.check()" class="lines-1"></app-text>
          </app-checkbox-bonvino>
        </div>


        <div *ngIf="isQuality.value" class="d-flex flex-column w-100">
          <div class="field align-self-stretch d-flex flex-column">
            <app-select-search-bonvino formControlName_="qualitiesSearch" [form]="form" #_qualitiesSearch>
              <div select-title>
                <app-text page="winery_add" default="Select indication" class="field-hint"></app-text>
              </div>
              <div options class="d-flex flex-column align-items-start select-list-options-full">
                <button *ngFor="let quality of qualityList | paginate: { id: 'pagination-quality', itemsPerPage: 10, currentPage: qualityPage, totalItems: qualityTotal}"
                        class="btn btn-option"
                        (click)="selectQuality(quality); _qualitiesSearch.close();">
                  <span>{{getQualityName(quality)}}</span>
                </button>
                <pagination-controls class="text-center hyperlink" [directionLinks]="false" maxSize="5" [autoHide]="true" id="pagination-quality" (pageChange)="setQualitiesPage($event)"></pagination-controls>

              </div>
            </app-select-search-bonvino>
          </div>


          <div class="lines-1 place-of-origin-text d-flex justify-content-between" *ngFor="let quality of wineryQualityList; let i = index">
            <div>
              <span>{{getQualityName(quality)}}</span>
            </div>
            <div>
              <button class="btn m-0 p-0" (click)="removeQualityFromWinery(i)">
                <mat-icon svgIcon="icn-close-bonvine" class="icon-close"></mat-icon>
              </button>
            </div>
          </div>
        </div>





        <div class="field align-self-stretch d-flex flex-column">
          <app-checkbox-bonvino formControlName_="isBiodynamic" [form]="form" #_isBiodynamic>
            <app-text page="winery_add" default="Biodynamic" (click)="_isBiodynamic.check()" class="lines-1"></app-text>
          </app-checkbox-bonvino>
        </div>


        <div *ngIf="isBiodynamic.value" class="d-flex flex-column w-100">
          <div class="field align-self-stretch d-flex flex-column">
            <app-select-search-bonvino formControlName_="biodynamicsSearch" [form]="form" #_biodynamicsSearch>
              <div select-title>
                <app-text page="winery_add" default="Select biodynamic" class="field-hint"></app-text>
              </div>
              <div options class="d-flex flex-column align-items-start select-list-options-full">
                <button *ngFor="let biodynamic of biodynamicList | paginate: { id: 'pagination-biodynamic', itemsPerPage: 10, currentPage: biodynamicPage, totalItems: biodynamicTotal}"
                        class="btn btn-option"
                        (click)="selectBiodynamic(biodynamic); _biodynamicsSearch.close();">
                  <span>{{getBiodynamicName(biodynamic)}}</span>
                </button>
                <pagination-controls class="text-center hyperlink" [directionLinks]="false" maxSize="5" [autoHide]="true" id="pagination-biodynamic" (pageChange)="setBiodynamicPage($event)"></pagination-controls>

              </div>
            </app-select-search-bonvino>
          </div>


          <div class="lines-1 place-of-origin-text d-flex justify-content-between" *ngFor="let biodynamic of wineryBiodynamicList; let i = index">
            <div>
              <span>{{getBiodynamicName(biodynamic)}}</span>
            </div>
            <div>
              <button class="btn m-0 p-0" (click)="removeBiodynamicFromWinery(i)">
                <mat-icon svgIcon="icn-close-bonvine" class="icon-close"></mat-icon>
              </button>
            </div>
          </div>
        </div>




        <div class="field align-self-stretch d-flex flex-column">
          <app-checkbox-bonvino formControlName_="isOrganic" [form]="form" #_isOrganic>
            <app-text page="winery_add" default="Organic" (click)="_isOrganic.check()" class="lines-1"></app-text>
          </app-checkbox-bonvino>
        </div>


        <div *ngIf="isOrganic.value" class="d-flex flex-column w-100">
          <div class="field align-self-stretch d-flex flex-column">
            <app-select-search-bonvino formControlName_="organicsSearch" [form]="form" #_organicsSearch>
              <div select-title>
                <app-text page="winery_add" default="Select organic" class="field-hint"></app-text>
              </div>
              <div options class="d-flex flex-column align-items-start select-list-options-full">
                <button *ngFor="let organic of organicList | paginate: { id: 'pagination-organic', itemsPerPage: 10, currentPage: organicPage, totalItems: organicTotal}"
                        class="btn btn-option"
                        (click)="selectOrganic(organic); _organicsSearch.close();">
                  <span>{{getOrganicName(organic)}}</span>
                </button>
                <pagination-controls class="text-center hyperlink" [directionLinks]="false" maxSize="5" [autoHide]="true" id="pagination-organic" (pageChange)="setOrganicPage($event)"></pagination-controls>

              </div>
            </app-select-search-bonvino>
          </div>


          <div class="lines-1 place-of-origin-text d-flex justify-content-between" *ngFor="let organic of wineryOrganicList; let i = index">
            <div>
              <span>{{getOrganicName(organic)}}</span>
            </div>
            <div>
              <button class="btn m-0 p-0" (click)="removeOrganicFromWinery(i)">
                <mat-icon svgIcon="icn-close-bonvine" class="icon-close"></mat-icon>
              </button>
            </div>
          </div>
        </div>





        <div class="field align-self-stretch d-flex flex-column">
          <app-checkbox-bonvino formControlName_="isVegan" [form]="form" #_isVegan>
            <app-text page="winery_add" default="Vegan" (click)="_isVegan.check()" class="lines-1"></app-text>
          </app-checkbox-bonvino>
        </div>



        <div *ngIf="isVegan.value" class="d-flex flex-column w-100">
          <div class="field align-self-stretch d-flex flex-column">
            <app-select-search-bonvino formControlName_="vegansSearch" [form]="form" #_vegansSearch>
              <div select-title>
                <app-text page="winery_add" default="Select vegan" class="field-hint"></app-text>
              </div>
              <div options class="d-flex flex-column align-items-start select-list-options-full">
                <button *ngFor="let vegan of veganList | paginate: { id: 'pagination-vegan', itemsPerPage: 10, currentPage: veganPage, totalItems: veganTotal}"
                        class="btn btn-option"
                        (click)="selectVegan(vegan); _vegansSearch.close();">
                  <span>{{getVeganName(vegan)}}</span>
                </button>
                <pagination-controls class="text-center hyperlink" [directionLinks]="false" maxSize="5" [autoHide]="true" id="pagination-vegan" (pageChange)="setVeganPage($event)"></pagination-controls>

              </div>
            </app-select-search-bonvino>
          </div>


          <div class="lines-1 place-of-origin-text d-flex justify-content-between" *ngFor="let vegan of wineryVeganList; let i = index">
            <div>
              <span>{{getVeganName(vegan)}}</span>
            </div>
            <div>
              <button class="btn m-0 p-0" (click)="removeVeganFromWinery(i)">
                <mat-icon svgIcon="icn-close-bonvine" class="icon-close"></mat-icon>
              </button>
            </div>
          </div>
        </div>




      </div>
      <div class="d-flex flex-column align-items-start"
           [ngClass]="isBigScreen() ? 'flex-even margin-left-36' : 'margin-bottom-32 w-100'">


        <div  class="heading-2 left-bold-border">
          <app-text page="winery_add" default="Grapes and Vineyards"></app-text>
        </div>




        <div class="d-flex flex-column w-100">
          <div class="field align-self-stretch d-flex flex-column">
            <app-select-search-bonvino formControlName_="grapesSearch" [form]="form" #_grapesSearch>
              <div select-title>
                <app-text  page="winery_add" default="Grape" class="field-hint"></app-text>
              </div>
              <div options class="d-flex flex-column align-items-start select-list-options-full">
                <button *ngFor="let grape of grapeList | paginate: { id: 'pagination-grapes', itemsPerPage: 10, currentPage: grapePage, totalItems: grapeTotal}"
                        class="btn btn-option"
                        (click)="selectGrape(grape); _grapesSearch.close();">
                  <span>{{getGrapeName(grape)}}</span>
                </button>
                <pagination-controls class="text-center hyperlink" [directionLinks]="false" maxSize="5" [autoHide]="true" id="pagination-grapes" (pageChange)="setGrapePage($event)"></pagination-controls>

              </div>
            </app-select-search-bonvino>
          </div>


          <div class="lines-1 place-of-origin-text d-flex justify-content-between py-0" *ngFor="let grape of wineryGrapeList; let i = index">
            <div>
              <div class="col" *ngIf="grape.synonim">
                <span>{{grape.synonim}} (</span><app-text page="grapes_names" [place]="grape.id" [default]="grape.name"></app-text><span>)</span>
              </div>
              <div class="col" *ngIf="!grape.synonim">
                <app-text page="grapes_names" [place]="grape.id" [default]="grape.name"></app-text>
              </div>
            </div>
            <div>
              <button class="btn m-0 p-0" (click)="removeGrapeFromWinery(i)">
                <mat-icon svgIcon="icn-close-bonvine" class="icon-close"></mat-icon>
              </button>
            </div>
          </div>
        </div>


        <div class="d-flex flex-column w-100">
          <div class="field align-self-stretch d-flex flex-column">
            <app-select-search-bonvino formControlName_="vineyardsSearch" [form]="form" #_vineyardsSearch>
              <div select-title>
                <app-text page="winery_add" default="Vaineyard" class="field-hint"></app-text>
              </div>
              <div options class="d-flex flex-column align-items-start select-list-options-full">
                <!--<button *ngFor="let vineyard of vineyardList | paginate: { id: 'pagination-vineyard', itemsPerPage: 10, currentPage: vineyardPage, totalItems: vineyardTotal}"-->
                        <!--class="btn btn-option"-->
                        <!--(click)="selectVineyard(vineyard); _vineyardsSearch.close();">-->
                  <!--<span>{{getVineyardName(vineyard)}}</span>-->
                <!--</button>-->
                <div class="d-flex justify-content-between"
                     *ngFor="let vineyard of vineyardList | paginate: { id: 'pagination-vineyard', itemsPerPage: 10, currentPage: vineyardPage, totalItems: vineyardTotal}">

                  <div class="d-flex justify-content-start align-items-start">

                    <div>

                      <button
                        class="btn btn-option m-0"
                        (click)="selectVineyard(vineyard); _vineyardsSearch.close();">
                        <span>{{getVineyardName(vineyard)}}</span>


                        <!--<app-title [language]="vineyard.language" [national]="vineyard.name"-->
                                   <!--[international]="vineyard.international" [id]="vineyard.id" page="vineyardNames"></app-title>-->
                      </button>
                    </div>
                    <div class="margin-left-8">

                      <a class="lines-1 hyperlink" [routerLink]="langService.editable ? null : vineyardLink(vineyard.id)">
                        <app-text page="vineyards" default="Link"></app-text>
                      </a>
                    </div>
                  </div>
                </div>
                <pagination-controls class="text-center hyperlink" [directionLinks]="false" maxSize="5" [autoHide]="true" id="pagination-winery" (pageChange)="setVineyardPage($event)"></pagination-controls>

              </div>
            </app-select-search-bonvino>
          </div>


          <div class="lines-1 place-of-origin-text d-flex justify-content-between" *ngFor="let vineyard of wineryVineyardList; let i = index">
            <div>
              <span>{{getVineyardName(vineyard)}}</span>
              <!--<app-title [language]="vineyard.language" [national]="vineyard.name"-->
                         <!--[international]="vineyard.international" [id]="vineyard.id" page="vineyardNames"></app-title>-->
            </div>
            <div>

              <a class="lines-1 hyperlink" [routerLink]="langService.editable ? null : vineyardLink(vineyard.id)">
                <app-text page="vineyards" default="Link"></app-text>
              </a>
            </div>
            <div>
              <button class="btn m-0 p-0" (click)="removeVineyardFromWinery(i)">
                <mat-icon svgIcon="icn-close-bonvine" class="icon-close"></mat-icon>
              </button>
            </div>
          </div>
        </div>




      </div>
      <div class="d-flex flex-column align-items-start"
           [ngClass]="isBigScreen() ? 'flex-even margin-left-36' : 'margin-bottom-32 w-100'">

        <div  class="heading-2 left-bold-border">
          <app-text page="winery_add" default="Contact us"></app-text>
        </div>

        <!--<div class="row my-2 py-1">-->
          <!--<div class="form-group col">-->
            <!--<app-text page="winery_add" default="Contact us" class="text-muted font-weight-bold"></app-text>-->
          <!--</div>-->
        <!--</div>-->

        <div class="field align-self-stretch d-flex flex-column">
          <app-checkbox-bonvino formControlName_="differentAddress" [form]="form" #_differentAddress>
            <app-text page="winery_add" default="Different address from contacts" (click)="_differentAddress.check()" class="lines-1"></app-text>
          </app-checkbox-bonvino>
        </div>


        <div class="field align-self-stretch d-flex flex-column" *ngIf="differentAddress.value">
          <app-text page="winery_add" default="Address" class="field-hint"></app-text>
          <input type="text" class="field-input align-self-stretch" formControlName="address">
        </div>

        <div  class="heading-2 left-bold-border" *ngIf="differentAddress.value">
          <app-text page="wine_list" place="place_of_origin" default="Place of origin"></app-text>
        </div>

        <div *ngIf="differentAddress.value">
          <button class="btn btn-type-1 text-uppercase field-content" (click)="openPlaceOfOrigin()">
            <app-text page="wine_list" default="Select"></app-text>
          </button>
        </div>

        <div class="d-flex justify-content-start error margin-bottom-8" *ngIf="country.invalid && isParentShowNoValidation">
          <div class="d-flex flex-row no-validation">
            <div class="margin-left-8 margin-right-8">
              <app-icon-bonvino svgIcon="icn-error-white" class="icn-error"></app-icon-bonvino>
            </div>
            <div class="margin-right-8 d-flex align-items-center Error-message-The-b">
              <app-text page="validation" default="Select country here or in contacts tab"></app-text>
            </div>
          </div>
        </div>




        <div class="lines-1 place-of-origin-text" *ngIf="differentAddress.value">
          <div class="d-inline">
            <app-text page="country_names" place="{{country.value}}" default="{{countriesMap.get(country.value)}}"></app-text>
          </div>
          <div class="d-inline" *ngFor="let region of regionsForm.value; let i = index">
            <span *ngIf="region"> > </span>
            <app-text page="country_names" place="{{region * 1}}"
                      default="{{regionesMap.get(region * 1)}}"  *ngIf="region"></app-text>
          </div>
        </div>

        <div class="d-flex flex-row">
          <button class="btn btn-type-2 text-uppercase field-content margin-bottom-32" (click)="placeMark()">
            <app-text page="wine_list" default="Place mark"></app-text>
          </button>
          <button class="btn btn-type-2 text-uppercase field-content margin-bottom-32 margin-left-16" (click)="removeMark()">
            <app-text page="wine_list" default="Remove mark"></app-text>
          </button>
        </div>



        <!--<div class="margin-bottom-32 w-100" >-->
          <!--<app-map-google-designed [routerData]="{editable: true}" [currentData]="geoData"-->
          <!--&gt;</app-map-google-designed>-->


        <!--</div>-->

        <div class="margin-bottom-32 w-100" [hidden]="!lat.value && !lng.value">

          <!--<div (click)="reloadMap()">button</div>-->

          <app-map-open-layers [reloadSubj]="mapReloadSubj" [routerData]="{editable: true}" [currentData]="geoData"></app-map-open-layers>


        </div>

        <div  class="heading-2 left-bold-border">
          <app-text page="winery_add" default="Visiting hours"></app-text>
        </div>



        <div>

          <form [formGroup]="formVisitTime">

            <div *ngFor="let day of daysKeys; let i = index" class="form-group">
              <div formArrayName="{{day}}">
                <div class="d-flex flex-column">
                  <div class="d-flex flex-column">
                    <div class="d-flex">
                      <div class="d-flex align-items-center">
                        <app-text page="winery_visittime" place="{{langService.morphStr(DAYS_OF_WEEK[day])}}" default="{{DAYS_OF_WEEK[day]}}"></app-text>
                      </div>

                      <div class="icon-margin">
                        <button class="btn m-0 p-0" (click)="addTimeRange(day)">
                          <app-icon-bonvino svgIcon="icn-add" class="icn-add" link="fill"></app-icon-bonvino>
                        </button>
                      </div>
                    </div>
                    <div class="d-flex flex-column">
                      <div class="d-flex" *ngFor="let time of times(day).controls; let j = index">
                        <div class="d-flex align-items-center" *ngIf="j % 2 == 0">
                          <div class="d-flex">
                            <app-input-time-bonvino [formControl_]="times(day).at(j)"></app-input-time-bonvino>
                          </div>
                          <div class="d-flex defis">
                            <span> - </span>
                          </div>
                          <div class="d-flex">
                            <app-input-time-bonvino [formControl_]="times(day).at(j + 1)"></app-input-time-bonvino>
                          </div>
                          <div class="d-flex justify-content-center align-items-center">

                            <div class="icon-margin">
                              <button class="btn m-0 p-0" (click)="removeTimeRange(day, j)">
                                <app-icon-bonvino svgIcon="icn-close-bonvine" class="icon-close" link="fill"></app-icon-bonvino>
                              </button>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</form>


<!--Words for translater-->

<div [hidden]="true">


  <app-text page="winery_add" default="Winery Information"></app-text>

  <button class="btn btn-option" *ngFor="let l of languageArr">
    <app-text page="language" default="{{l.name}}"></app-text>
  </button>

  <app-text page="winery_add" default="Winery name" class="field-hint"></app-text>

  <app-text page="winery_add" default="Winery name" class="field-hint"></app-text>

  <app-text page="wine_list" place="message_exist" default="If your winery listed below you may claim it as yours instead"></app-text>

  <app-text page="winery_add" default="Winery name in English" class="field-hint"></app-text>

  <app-text page="winery_add" default="Wine producer" class="field-hint"></app-text>

  <app-text page="winery_add" default="Clear input"></app-text>

  <button *ngFor="let wp of wineProducerArr" class="btn btn-option">
    <app-text page="winery_add" [default]="wp.value"></app-text>
  </button>

  <app-text page="winery_add" default="When was it established" class="field-hint"></app-text>

  <app-text page="wine_list" place="place_of_origin" default="Place of origin"></app-text>

  <app-text page="wine_list" default="Select"></app-text>

  <app-text page="winery_add" default="Owner" class="field-hint"></app-text>

  <app-text page="wine_list" default="Select redactor"></app-text>

  <app-text page="winery_add" default="Claim yours"></app-text>

  <app-text page="winery_add" default="Select user"></app-text>

  <app-text page="winery_add" default="Cover image"></app-text>

  <app-text page="wine_list" default="Select"></app-text>

  <app-text page="winery_add" place="delete" default="Delete image"></app-text>

  <app-text page="wine_list" default="Logo"></app-text>

  <app-text page="wine_list" default="Select"></app-text>

  <app-text page="winery_add" place="delete" default="Delete image"></app-text>

  <app-text page="winery_add" default="Winemaking team"></app-text>

  <app-text page="winery_add" default="Name of head winemaker" class="field-hint"></app-text>

  <app-text page="winery_add" default="Name of head winemaker (in English)" class="field-hint"></app-text>

  <app-text page="winery_add" default="Performance"></app-text>

  <app-text page="winery_add" place="select" default="Select"></app-text>
  <app-text page="winery_add" place="till_2000" default="till 2000"></app-text>
  <app-text page="winery_add" place="till_5000" default="2000-5000"></app-text>
  <app-text page="winery_add" place="till_8000" default="5000-8000"></app-text>
  <app-text page="winery_add" place="till_12000" default="8000-12000"></app-text>
  <app-text page="winery_add" place="till_20000" default="12000-20000"></app-text>
  <app-text page="winery_add" place="till_30000" default="20000-30000"></app-text>
  <app-text page="winery_add" place="till_60000" default="30000-60000"></app-text>
  <app-text page="winery_add" place="till_100000" default="60000-100000"></app-text>
  <app-text page="winery_add" place="till_160000" default="100000-160000"></app-text>
  <app-text page="winery_add" place="till_220000" default="160000-220000"></app-text>
  <app-text page="winery_add" place="till_300000" default="220000-300000"></app-text>
  <app-text page="winery_add" place="till_450000" default="300000-450000"></app-text>
  <app-text page="winery_add" place="till_600000" default="450000-600000"></app-text>
  <app-text page="winery_add" place="till_800000" default="600000-800000"></app-text>
  <app-text page="winery_add" place="till_1200000" default="800000-1200000"></app-text>
  <app-text page="winery_add" place="till_1500000" default="1200000-1500000"></app-text>
  <app-text page="winery_add" place="till_2000000" default="1500000-2000000"></app-text>
  <app-text page="winery_add" place="till_3000000" default="2000000-3000000"></app-text>
  <app-text page="winery_add" place="till_5000000" default="3000000-5000000"></app-text>
  <app-text page="winery_add" place="5000000_more" default="5000000 and more"></app-text>

  <app-text page="winery_add" place="sertifications" default="Certifications"></app-text>

  <app-text page="winery_add" default="Kashrut" (click)="_isKashrut.check()" class="lines-1"></app-text>

  <app-text page="winery_add" default="Select kashrut" class="field-hint"></app-text>

  <app-text page="winery_add" default="Geographical indications" (click)="_isQuality.check()"></app-text>

  <app-text page="winery_add" default="Select indication" class="field-hint"></app-text>

  <app-text page="winery_add" default="Biodynamic" (click)="_isBiodynamic.check()"></app-text>

  <app-text page="winery_add" default="Select biodynamic" class="field-hint"></app-text>

  <app-text page="winery_add" default="Organic" (click)="_isOrganic.check()"></app-text>

  <app-text page="winery_add" default="Select organic" class="field-hint"></app-text>

  <app-text page="winery_add" default="Vegan" (click)="_isVegan.check()"></app-text>

  <app-text page="winery_add" default="Select vegan" class="field-hint"></app-text>

  <app-text page="winery_add" default="Grapes and Vineyards"></app-text>

  <app-text  page="winery_add" default="Grape" class="field-hint"></app-text>

  <app-text page="winery_add" default="Vaineyard" class="field-hint"></app-text>

  <app-text page="winery_add" default="Contact us"></app-text>

  <app-text page="winery_add" default="Different address from contacts" (click)="_differentAddress.check()" class="lines-1"></app-text>

  <app-text page="winery_add" default="Address" class="field-hint"></app-text>

  <app-text page="wine_list" default="Place mark"></app-text>

  <app-text page="wine_list" default="Remove mark"></app-text>

  <app-text page="winery_add" default="Visiting hours"></app-text>

  <div *ngFor="let day of daysKeys; let i = index" class="form-group">
    <app-text page="winery_visittime" place="{{langService.morphStr(DAYS_OF_WEEK[day])}}" default="{{DAYS_OF_WEEK[day]}}"></app-text>
  </div>
























































  </div>
