.home-image {
  height: 424px;
}
.margin-bottom-32 {
  margin-bottom: 32px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.home-width {
  width: 80%;
}
.margin-right-20 {
  margin-right: 20px;
}
.margin-x-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.margin-right-32 {
  margin-right: 32px;
}
.margin-bottom-16 {
  margin-bottom: 16px;
}
.width-416 {
  width: 416px;
  min-width: 416px;
}
