<div class="m-auto d-flex justify-content-center">
  <!--<app-supermap [routerData]="routeData"></app-supermap>-->
  <app-supermap-google [routerData]="routeData" [forcedShown]="true"></app-supermap-google>
</div>

<form [formGroup]="form">

  <div class="form-group row">
    <label class="col-4 text-right my-auto" for="country">
      <app-text page="winery_common_info" place="country" default="Country:"></app-text>
    </label>
    <select id="country" name="country" formControlName="country">
      <option value="0">
        <app-text page="winery_common_info" place="select" default="Select"></app-text>
      </option>
      <option *ngFor="let country of countries; let i = index" value="{{countries[i].id}}">{{countries[i].name}}</option>
    </select>
    <div *ngIf="langService.editable">
      <app-text page="winery_common_info" place="select" default="Select"></app-text>
    </div>
  </div>

  <div formArrayName="regionsForm">
    <div *ngFor="let region of allRegiones; let i = index">
      <div class="form-group row" *ngIf="langService.editable || allRegiones[i].length > 0">
        <label class="col-4 text-right my-auto" for="region">
          <app-text page="vineyard_common_info" place="region{{i + 1}}" default="Region {{i + 1}}:"></app-text>
        </label>
        <select id="region" name="region" [formControlName]="i">
          <option value="0">
            <app-text page="vineyard_common_info" place="select" default="Select"></app-text>
          </option>
          <option *ngFor="let region of allRegiones[i]" value="{{region.id}}">{{region.name}}</option>
        </select>
        <div *ngIf="langService.editable">
          <app-text page="vineyard_common_info" place="select" default="Select"></app-text>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="form-group row">-->
    <!--<label class="col-4 text-right my-auto" for="city">-->
      <!--<app-text page="winery_geolocation" place="city" default="City:"></app-text>-->
    <!--</label>-->
    <!--<input id="city" type="text" class="form-control col-4" formControlName="city">-->
  <!--</div>-->
  <div class="form-group row">
    <label class="col-4 text-right my-auto" for="address">
      <app-text page="winery_geolocation" place="address" default="Address:"></app-text>
    </label>
    <input id="address" type="text" class="form-control col-4" formControlName="address">
  </div>
  <div class="row" *ngIf="langService.editable || routeData.editable">
    <div class="col-4 offset-4">
      <button class="btn btn-success btn-block" (click)="searchByAddress()">
        <app-text page="winery_geolocation" place="search" default="Search"></app-text>
      </button>
    </div>
  </div>


  <!--<div class="text-center" *ngIf="routeData.editable && countryFromCommoninfo != countryFromMap && countryFromMap">-->
  <!--<div class="alert alert-warning my-auto">-->
  <!--<app-text page="winery_geolocation" place="wrong_country" default="Country is not the same with common information:"></app-text>-->
  <!--</div>-->
  <!--</div>-->

  <div class="form-group row" [hidden]="true">
    <label class="col-4 text-right my-auto" for="longtitude">
      <app-text page="winery_geolocation" place="longtitude" default="Longtitude:"></app-text>
    </label>
    <input id="longtitude" type="text" class="form-control col-4" formControlName="longtitude">
  </div>

  <div class="form-group row" [hidden]="true">
    <label class="col-4 text-right my-auto" for="latitude">
      <app-text page="winery_geolocation" place="latitude" default="Latitude:"></app-text>
    </label>
    <input id="latitude" type="text" class="form-control col-4" formControlName="latitude">
  </div>

  <div class="row" *ngIf="langService.editable || routeData.editable">
    <div class="col-4 offset-4">
      <button class="btn btn-warning btn-block" (click)="removeGeolocation()">
        <!--Submit-->
        <app-text page="winery_geolocation" place="remove_geolocation" default="Remove geolocation"></app-text>

      </button>
    </div>
  </div>
</form>


<div mat-dialog-actions class="row">

  <div class="col my-auto">
    <button class="btn btn-success btn-block" mat-button (click)="close()">Back</button>
  </div>
  <div class="col my-auto">
    <button class="btn btn-success btn-block" mat-button [mat-dialog-close]="getResults()" cdkFocusInitial>Save</button>
  </div>
</div>
