<div class="d-flex flex-column">

  <div class="d-flex flex-row">
    <div class="d-flex flex-column margin-left-32 margin-right-32 flex-even">


      <div  class="heading-1 margin-bottom-32">
        <app-text page="history" default="Change list"></app-text>
      </div>
      <div class="lines-1 d-inline" *ngFor="let change of changeList">
        <!--<app-text page="wines_one" default="Serial" class="font-weight-bold"></app-text><span class="font-weight-bold">: </span> {{wineData.commoninfo.series}}-->
        <span class="font-weight-bold">{{ change.datetime.toDateString() }}: </span>
        <app-text page="history" default="Show changelog" class="hyperlink pointer" (click)="showDifference(change)"></app-text>
      </div>
    </div>
    <div class="d-flex flex-column margin-right-32 flex-even" *ngFor="let f of fictions">
      <div class="d-flex flex-row justify-content-between">

        <div  class="heading-1 margin-bottom-32">
          <app-text page="history" default="Change log"></app-text>
        </div>

        <div>

          <button class="btn btn-type-1 text-uppercase field-content" (click)="deleteHistory()">
            <app-text page="history" default="Delete"></app-text>
          </button>

        </div>

        <div>

          <button class="btn btn-type-1 text-uppercase field-content" (click)="editDifference()">
            <app-text page="history" default="Save"></app-text>
          </button>

        </div>
      </div>
      <div>

        <div class="field d-flex flex-column margin-right-20">
          <app-text page="history" default="Date" class="field-hint"></app-text>
          <input type="date" class="field-input align-self-stretch" [formControl]="date">
        </div>
      </div>

      <div>

        <table class="table">
          <thead>
          <tr class="bonvino-table-head">
            <th scope="col">
              <app-text page="history" default="Change" class="lines-2"></app-text>
            </th>
            <th scope="col">
              <app-text page="history" default="Before" class="lines-2"></app-text>
            </th>
            <th scope="col">
              <app-text page="history" default="After" class="lines-2"></app-text>
            </th>
            <th scope="col">
              <app-text page="history" default="Delete" class="lines-2"></app-text>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let difference of differenceList; let j = index">

            <td>
              <div class="lines-1">
                <span>{{getDifferenceName(difference)}}</span>
              </div>
            </td>
            <td>
              <div class="lines-1">
                <div *ngIf="getDifferenceType(difference) == 'image'">

                  <div class="image">
                    <img  class="img-fluid" [src]="getImage(difference.before)" onError="this.src='../../../assets/icons/placeholder-wine.svg'">
                  </div>

                </div>
                <div *ngIf="getDifferenceType(difference) == 'list'">

                  <div *ngFor="let point of difference.before; let i = index">

                    <span> {{ point.name }}</span>

                  </div>

                </div>
                <div *ngIf="getDifferenceType(difference) == 'kashruts'">

                  <div *ngFor="let point of difference.before; let i = index" class="margin-top-4">

                    <span> {{ point.hebrew }}</span><span *ngIf="point.international && point.hebrew"> - </span><span *ngIf="point.international"> {{point.international}}</span>

                  </div>

                </div>

                <div *ngIf="getDifferenceType(difference) == 'visittime'">

                  <app-visitinghours [timeData]="difference.before"></app-visitinghours>
                </div>
                <div *ngIf="getDifferenceType(difference) == 'grapes'">

                  <div *ngFor="let grape of difference.before.grapesFull; let i = index">

                    <app-text page="grapes_names" [place]="grape.id" [default]="grape.name"></app-text>
                    <span *ngIf="difference.before.grapeSynonims[i]"> ({{ difference.before.grapeSynonims[i] }})</span>
                  </div>

                </div>
                <div *ngIf="getDifferenceType(difference) == 'text'">
                  <span>{{difference.before}}</span>
                </div>
                <div *ngIf="getDifferenceType(difference) == 'boolean'">
                  <app-icon-bonvino [svgIcon]="getIcon(difference.before)" class="icon-close"></app-icon-bonvino>
                </div>

                <div class="d-flex flex-row" *ngIf="getDifferenceType(difference) == 'multiselect'">
                  <div *ngFor="let points of difference.before; let i = index" class="margin-right-12">

                    <span>{{getDifferencePointName(difference, i)}}</span>
                    <app-icon-bonvino [svgIcon]="getIcon(points)" class="icon-close"></app-icon-bonvino>
                  </div>
                </div>
              </div>
            </td>

            <td>
              <div class="lines-1">
                <div *ngIf="getDifferenceType(difference) == 'image'">

                  <div class="image">
                    <img  class="img-fluid" [src]="getImage(difference.after)" onError="this.src='../../../assets/icons/placeholder-wine.svg'">
                  </div>

                </div>
                <div *ngIf="getDifferenceType(difference) == 'list'">

                  <div *ngFor="let point of difference.after; let i = index">

                    <span> {{ point.name }}</span>

                  </div>

                </div>
                <div *ngIf="getDifferenceType(difference) == 'kashruts'">

                  <div *ngFor="let point of difference.after; let i = index" class="margin-top-4">

                    <span> {{ point.hebrew }}</span><span *ngIf="point.international && point.hebrew"> - </span><span *ngIf="point.international"> {{point.international}}</span>

                  </div>

                </div>

                <div *ngIf="getDifferenceType(difference) == 'visittime'">

                  <app-visitinghours [timeData]="difference.after"></app-visitinghours>
                </div>
                <div *ngIf="getDifferenceType(difference) == 'grapes'">

                  <div *ngFor="let grape of difference.after.grapesFull; let i = index">

                    <app-text page="grapes_names" [place]="grape.id" [default]="grape.name"></app-text>
                    <span *ngIf="difference.after.grapeSynonims[i]"> ({{ difference.after.grapeSynonims[i] }})</span>
                  </div>

                </div>
                <div *ngIf="getDifferenceType(difference) == 'text'">
                  <span>{{difference.after}}</span>
                </div>
                <div *ngIf="getDifferenceType(difference) == 'boolean'">
                  <app-icon-bonvino [svgIcon]="getIcon(difference.after)" class="icon-close"></app-icon-bonvino>
                </div>

                <div class="d-flex flex-row" *ngIf="getDifferenceType(difference) == 'multiselect'">
                  <div *ngFor="let points of difference.after; let i = index" class="margin-right-12">

                    <span>{{getDifferencePointName(difference, i)}}</span>
                    <app-icon-bonvino [svgIcon]="getIcon(points)" class="icon-close"></app-icon-bonvino>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <button class="btn btn-type-2 text-uppercase field-content" (click)="deleteDifference(j)">
                <app-text page="wine_list" default="Delete"></app-text>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>


    </div>
  </div>
  <div class="margin-top-32" *ngFor="let f of fictions">
    <app-winery-add [wineryDataInput]="actualVersion"></app-winery-add>
  </div>
</div>
