
<form [formGroup]="form">
  <div  class="heading-1"  *ngIf="isSelect">
    <app-text page="wines" default="Confirm existed marks"></app-text>
  </div>

  <div *ngIf="isSelect">


    <table class="table">
      <thead>
      <tr class="bonvino-table-head">
        <th scope="col">
          <div class="d-flex flex-column">
            <div>
              <button class="btn p-0 border-0 d-flex justify-content-center align-items-center mx-auto" (click)="orderTableByCheckbox(order.value != 'checkbox' ? 'checkbox' : 'checkbox_reverse')">
                <div class="d-flex justify-content-center align-items-center">
                  <div>
                    <app-text  [page]="LANGUAGE_CURRENT_PAGE" default="Checkbox" class="lines-2"
                               [ngClass]="getSortingClass(['checkbox', 'checkbox_reverse'])"></app-text>
                  </div>

                  <div class="d-flex justify-content-center align-items-center">
                    <mat-icon svgIcon="icn-sorting" class="icn-sorting"
                              *ngIf="order.value != 'checkbox' && order.value != 'checkbox_reverse'"
                    ></mat-icon>
                  </div>

                  <div class="reverse d-flex justify-content-center align-items-center">
                    <mat-icon svgIcon="icn-sorting-wine" class="icn-sorting"
                              *ngIf="order.value == 'checkbox'"
                    ></mat-icon>
                  </div>
                  <div class="d-flex justify-content-center align-items-center">

                    <mat-icon svgIcon="icn-sorting-wine" class="icn-sorting"
                              *ngIf="order.value == 'checkbox_reverse'"
                    ></mat-icon>
                  </div>
                </div>
              </button>
            </div>
          </div>
        </th>
        <th scope="col">
          <div class="d-flex flex-column">
            <div>
              <button class="btn p-0 border-0 d-flex justify-content-center align-items-center mx-auto" (click)="orderTableByUser(order.value != 'author' ? 'author' : 'author_reverse')">
                <div class="d-flex justify-content-center align-items-center">
                  <div>
                    <app-text  [page]="LANGUAGE_CURRENT_PAGE" default="Professional" class="lines-2"
                               [ngClass]="getSortingClass(['author', 'author_reverse'])"></app-text>
                  </div>

                  <div class="d-flex justify-content-center align-items-center">
                    <mat-icon svgIcon="icn-sorting" class="icn-sorting"
                              *ngIf="order.value != 'author' && order.value != 'author_reverse'"
                    ></mat-icon>
                  </div>

                  <div class="reverse d-flex justify-content-center align-items-center">
                    <mat-icon svgIcon="icn-sorting-wine" class="icn-sorting"
                              *ngIf="order.value == 'author'"
                    ></mat-icon>
                  </div>
                  <div class="d-flex justify-content-center align-items-center">

                    <mat-icon svgIcon="icn-sorting-wine" class="icn-sorting"
                              *ngIf="order.value == 'author_reverse'"
                    ></mat-icon>
                  </div>
                </div>
              </button>
            </div>
          </div>
        </th>
        <th scope="col">
          <div class="d-flex flex-column">
            <div>
              <button class="btn p-0 border-0 d-flex justify-content-center align-items-center mx-auto" (click)="orderTableByLanguage(order.value != 'language' ? 'language' : 'language_reverse')">
                <div class="d-flex justify-content-center align-items-center">
                  <div>
                    <app-text  [page]="LANGUAGE_CURRENT_PAGE" default="Language" class="lines-2"
                               [ngClass]="getSortingClass(['language', 'language_reverse'])"></app-text>
                  </div>

                  <div class="d-flex justify-content-center align-items-center">
                    <mat-icon svgIcon="icn-sorting" class="icn-sorting"
                              *ngIf="order.value != 'language' && order.value != 'language_reverse'"
                    ></mat-icon>
                  </div>

                  <div class="reverse d-flex justify-content-center align-items-center">
                    <mat-icon svgIcon="icn-sorting-wine" class="icn-sorting"
                              *ngIf="order.value == 'language'"
                    ></mat-icon>
                  </div>
                  <div class="d-flex justify-content-center align-items-center">

                    <mat-icon svgIcon="icn-sorting-wine" class="icn-sorting"
                              *ngIf="order.value == 'language_reverse'"
                    ></mat-icon>
                  </div>
                </div>
              </button>
            </div>
          </div>
        </th>
        <th scope="col">

          <div class="d-flex justify-content-center">

            <app-text  [page]="LANGUAGE_CURRENT_PAGE" default="Description" class="lines-2"></app-text>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let description of descriptionsArr; let i = index">

        <td>
          <div class="lines-1 d-flex justify-content-center">

            <div>

              <app-checkbox-bonvino [formControlName_]="description.id + ''" [form]="descriptions_confirmation" #_confirm [isDisabledCheckbox]="!isWineryOwner">
              </app-checkbox-bonvino>
            </div>
          </div>
        </td>

        <td>
          <div class="lines-1">
            <div class="d-flex justify-content-center">

              <span>{{getSpecialistName(description)}}</span>
            </div>
          </div>
        </td>

        <td>
          <div class="lines-1">

            <div class="d-flex justify-content-center">
              <app-text *ngFor="let l of languageArr" page="language" [default]="l.name" [hidden]="l.value != description.language"></app-text>

            </div>
          </div>
        </td>

        <td>
          <div class="lines-1 whitespace-prewrap">
            <span></span>
            {{description.text}}
          </div>
        </td>
      </tr>
      </tbody>
    </table>

  </div>


  <div  class="heading-1 margin-bottom-16" *ngIf="isSelect">
    <app-text page="wines" default="Enter your own description"></app-text>
  </div>

  <div class="d-flex flex-column">

    <div formArrayName="descriptions">

      <div class="d-flex flex-column" *ngFor="let d of descriptions.controls; let i = index">
        <div formGroupName="{{i}}">

          <div class="d-flex flex-fill justify-content-between">

            <div class="field align-self-stretch d-flex flex-column margin-right-20 w-100">
              <app-text page="wines_description" default="Language" class="field-hint"></app-text>
              <app-select-bonvino formControlName_="language" [form]="descriptions.at(i)" #_language>
                <div select-title>
                  <app-text *ngFor="let l of languageArr" page="language" [default]="l.name" [hidden]="l.value != descriptions.at(i).get('language').value"></app-text>
                </div>
                <div options class="d-flex flex-column align-items-start select-list-options">
                  <button class="btn btn-option" (click)="_language.choose('')">
                    <app-text page="wines_common_info" default="Clear input"></app-text>
                  </button>
                  <button *ngFor="let l of possibleLanguages()" class="btn btn-option" (click)="_language.choose(l.value)">
                    <app-text page="language" [default]="l.name"></app-text>
                  </button>
                </div>
              </app-select-bonvino>

            </div>
            <div>
              <button class="btn m-0 p-0" (click)="removeDescription(i)">
                <mat-icon svgIcon="icn-close-bonvine" class="icon-close"></mat-icon>
              </button>
            </div>
          </div>
          <div class="d-flex flex-fill justify-content-between">


            <div class="field w-100 align-self-stretch d-flex flex-column">
              <app-text page="wines_description" default="Description" class="field-hint"></app-text>
              <textarea type="textarea" dir="auto" rows="10" class="form-control" formControlName="text"></textarea>
            </div>


          </div>
        </div>
      </div>


    </div>
    <div class="d-flex w-100 justify-content-center">
      <button class="btn m-0 p-0 d-flex justify-content-center" (click)="addDescription(null)">
        <app-icon-bonvino svgIcon="icn-add" class="icn-add" link="fill"></app-icon-bonvino>
      </button>
    </div>
  </div>

  <!--<div  class="heading-1 margin-bottom-16" *ngIf="isSelect">-->
    <!--<app-text page="wines" default="Enter your own description"></app-text>-->
  <!--</div>-->

  <!--<div class="d-flex flex-column">-->

    <!--<div formArrayName="descriptions" *ngIf="isWineryOwner || !isSelect">-->

      <!--<div class="d-flex flex-column" *ngFor="let d of descriptions.controls; let i = index">-->
        <!--<div formGroupName="{{i}}">-->

          <!--<div class="d-flex flex-fill justify-content-between">-->

            <!--<div class="field align-self-stretch d-flex flex-column margin-right-20 w-100">-->
              <!--<app-text page="wines_description" default="Language" class="field-hint"></app-text>-->
              <!--<app-select-bonvino formControlName_="language" [form]="descriptions.at(i)" #_language>-->
                <!--<div select-title>-->
                  <!--<app-text *ngFor="let l of languageArr" page="language" [default]="l.name" [hidden]="l.value != descriptions.at(i).get('language').value"></app-text>-->
                <!--</div>-->
                <!--<div options class="d-flex flex-column align-items-start select-list-options">-->
                  <!--<button class="btn btn-option" (click)="_language.choose('')">-->
                    <!--<app-text page="wines_common_info" default="Clear input"></app-text>-->
                  <!--</button>-->
                  <!--<button *ngFor="let l of possibleLanguages()" class="btn btn-option" (click)="_language.choose(l.value)">-->
                    <!--<app-text page="language" [default]="l.name"></app-text>-->
                  <!--</button>-->
                <!--</div>-->
              <!--</app-select-bonvino>-->

            <!--</div>-->
            <!--<div *ngIf="isWineryOwner || !isSelect">-->
              <!--<button class="btn m-0 p-0" (click)="removeDescription(i)">-->
                <!--<mat-icon svgIcon="icn-close-bonvine" class="icon-close"></mat-icon>-->
              <!--</button>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="d-flex flex-fill justify-content-between">-->


            <!--<div class="field w-100 align-self-stretch d-flex flex-column">-->
              <!--<app-text page="wines_description" default="Description" class="field-hint"></app-text>-->
              <!--<textarea type="textarea" dir="auto" rows="10" class="form-control" formControlName="text"></textarea>-->
            <!--</div>-->


          <!--</div>-->
        <!--</div>-->
      <!--</div>-->


    <!--</div>-->
    <!--<div class="d-flex w-100 justify-content-center">-->
      <!--<button class="btn m-0 p-0 d-flex justify-content-center" (click)="addDescription(null)" *ngIf="isWineryOwner || !isSelect">-->
        <!--<app-icon-bonvino svgIcon="icn-add" class="icn-add" link="fill"></app-icon-bonvino>-->
      <!--</button>-->
      <!--<div class="m-0 p-0 d-flex justify-content-center" *ngIf="!isWineryOwner && isSelect">-->
        <!--<app-icon-bonvino svgIcon="icn-add-chrome" class="icn-add"></app-icon-bonvino>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</form>
