<div *ngIf="id == null ">
  <div class="lines-1">

    <app-text  [page]="LANGUAGE_CURRENT_PAGE" default="User not selected" class="lines-1"></app-text>

  </div>
</div>

<div *ngIf="id != null && user == null">

  <div class="lines-1">

    <app-text  [page]="LANGUAGE_CURRENT_PAGE" default="Search in progress" class="lines-1"></app-text>

  </div>
</div>

<div class="d-flex justify-content-start" *ngIf="id != null && user !== null">


  <div class="lines-1 d-flex align-items-center margin-right-8">

    <a [routerLink]="'profile/' + user.id">
      <span>{{user.login}} </span>
    </a>
    <span *ngIf="user.fname"> - {{user.fname}} </span>
    <span *ngIf="user.lname"> - {{user.lname}} </span>

  </div>
  <div>

    <div class="lines-1">
      <img  class="img-fluid max-height-100px" [src]="getImage(user)" onError="this.src='../../../assets/icons/placeholder-wine.svg'">
    </div>
  </div>

</div>
