<form [formGroup]="form">

  <div>

    <div class="form-group row">
      <label class="col text-center my-auto">
        <app-text page="winery_specification" place="vegan" default="Vegan:"></app-text>
      </label>
    </div>
    <div *ngFor="let v of veganList" formGroupName="vegans">
      <div  class="form-group row">
        <label class="col-4 offset-4 text-right my-auto">{{v.name}}:</label>
        <input class="my-auto" type="checkbox" formControlName="{{v.id}}" (click)="uncheckVegan(v.id)">
      </div>
    </div>

    <div>
      <app-superlist [tableCols]="tableColsVegan" [api]="apiVegan" [addCheckbox]="true"></app-superlist>
    </div>
  </div>


</form>



<div mat-dialog-actions class="row">

  <div class="col my-auto">
    <button class="btn btn-success btn-block" mat-button (click)="close()">Back</button>
  </div>
  <div class="col my-auto">
    <button class="btn btn-success btn-block" mat-button [mat-dialog-close]="getResults()" cdkFocusInitial>Save</button>
  </div>
</div>
