
<!--<div class="toolbar-button-container">-->

  <!--<button class="btn btn-type-3 text-uppercase field-content" mat-button (click)="sidenav.toggle()">-->

    <!--<app-icon-bonvino svgIcon="icn-search-white" class="icn-search-white-mobile"></app-icon-bonvino>-->
  <!--</button>-->
<!--</div>-->


<!--<mat-sidenav-container class="example-container">-->
  <!--<mat-sidenav-content>-->

  <!--</mat-sidenav-content>-->

  <!--<mat-sidenav #sidenav mode="over" (opened)="test()" [fixedInViewport]="true"  [fixedTopGap]="true" [fixedBottomGap]="true" position="end"-->
               <!--(closed)="test()">-->
    <!--<div style="width: 80vw">-->

      <!--<app-wine-list-searchbar></app-wine-list-searchbar>-->
    <!--</div>-->
  <!--</mat-sidenav>-->

<!--</mat-sidenav-container>-->
<!--<div>-->

  <!--<app-wine-list-searchbar></app-wine-list-searchbar>-->
<!--</div>-->

<!--<div class="margin-bottom-32 w-100" >-->


  <!--<app-map-open-layers ></app-map-open-layers>-->
<!--</div>-->
<!--<app-map-open-layers></app-map-open-layers>-->
<!--<app-ol-map class="map"-->
            <!--[center]="[-483281,6904172]"-->
            <!--[zoom]="8.5"-->
<!--&gt;</app-ol-map>-->
