.lines-2 {
  color: var(--black);
}
.grid-wrap {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 20px;
  grid-gap: 5px;
}
.whitespace-nowrap {
  white-space: nowrap;
}

.margin-top-20 {
  margin-top: 20px;
}
.margin-top-8 {
  margin-top: 8px;
}
.min-width-100 {
  min-width: 100px;
}
.word-break {
  word-break: anywhere;
  overflow-wrap: anywhere;
}
