
.margin-right-20 {
  margin-right: 20px;
}
.margin-right-36 {
  margin-right: 36px;
}
.margin-bottom-32 {
  margin-bottom: 32px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}

form.scrollbar {
  max-height: calc(80vh - 64px);
  padding-right: 16px;
}
.margin-32-8-32-32 {
  margin: 32px 8px 32px 32px;
}

.border-bottom-2px {
  border-bottom: solid 2px var(--wine);
}
.border-bottom-1px {
  border-bottom: solid 2px #bda280;
}

.total-amount {

  font-family: 'Noto Sans Display';
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0px;
  color: var(--black);
}

.color-orange {

  color: var(--metal-melt);
}

.color-wine {

  color: var(--wine);
}
