.border-bottom-2{
  border-bottom: 2px solid darkgray;
}
.rounded-top{
  border-radius: 5px 5px 0 0;
}

/*.heading-1 {*/
/*margin-bottom: 36px;*/
/*}*/
.main-menu {
  margin-right: 32px;
  margin-bottom: 32px;

}
.margin-bottom-32 {
  margin-bottom: 32px;
}
.margin-64 {
  margin: 0 64px 64px 64px;
}

.margin-right-36 {
  margin-right: 36px;
}
.height-600px {

  /*height: 600px;*/
}
::ng-deep app-wine-description-subscreen {

  display: flex;
  flex-direction: column;
  overflow: hidden;
}
